.venv
*/__pycache__
linked_list/tests/__pycache__
linked_list/Linked_List/__pycache__
/home/mahdi/data-structures-and-algorithms/stack_and_queue/tests/__pycache__
/home/mahdi/data-structures-and-algorithms/stack_and_queue/.pytest_cache